:root {
  --max-width: 800px;
	--size: 5;
	--fox-o-w: 600;
  --fox-o-h: 814;
  --fox-aspect: calc(var(--fox-o-w)/var(--fox-o-h));
	--unit: calc((var(--size) / var(--fox-o-h)) * 10px);
  --primary-color: rgb(219, 47, 47);
  --fore-color: rgb( 64, 64, 64);
  --fore-color-dim: rgba( 64, 64, 64, 0.2);
	--fox-shape: polygon(
		0 0,
		35.66% 26.289%,
		64.333% 26.289%,
		100% 0,
		100% 26.289%,
		0 100%
	);
	--fox-width: calc(var(--fox-o-w) * var(--unit));
	--fox-height: calc(var(--fox-o-h) * var(--unit));
	color: var(--fore-color);
	font-family: serif;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

a {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  text-decoration: none;
}

p {
	margin: 2vh 0 2vh 0;
}

html {
	font-family: Inter, system-ui, sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	text-size-adjust: 100%;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 2.0rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.2rem;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	line-height: 1.5;
	letter-spacing: 0.02rem;
	margin: 0px;
}

header {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

footer {
  margin-top: 1rem;
  border-top: 1px solid rgba(0,0,0,0.2);
}

header .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

main {
	margin-top: 2vh;
}

header .content,
main .content,
footer .content {
	margin: auto auto;
	max-width: var(--max-width);
	padding: 0 20px;
}

.menu {
  font-size: 1.0rem;

}

.menu a {
  margin: 0 5px;
}

a.social {
  border: none;
}

a.social svg {
  position: relative;
  top: 5px;
  width: 1.2rem;
  height: 1.2rem;
}


.logo {
  font-size: 1.2rem;
  word-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.logo a {
  color: var(--fore-color);
  text-decoration: none;
  border: none;
}

.fox {
	position: relative;
	height: var(--fox-height);
	width: var(--fox-width);
	background-color: var(--primary-color);
	shape-outside: var(--fox-shape);
	clip-path: var(--fox-shape);
	transform: translate(calc(40 * var(--unit)), calc(220 * var(--unit)));
	z-index: 2;
	display: inline-block;
}

ul, ol {
  margin: 2vh 0 2vh 0;
}

ul {
  display: table;
  list-style: none;
  list-style-position: outside;
}

ol {
  display: table;
  list-style-position: outside;
}
ol li {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

ul li {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}
ul li::before {
  display: block;
  float: left;
  position: relative;
  margin-left: -1.3rem;
  top: 0.3rem;
  content: '';
  background-color: var(--fore-color-dim);
  width:calc(16px * var(--fox-aspect));
  height:16px;
  min-width:calc(16px * var(--fox-aspect));
  min-height:16px;
  max-width:calc(16px * var(--fox-aspect));
  max-height:16px;
  shape-outside: var(--fox-shape);
	clip-path: var(--fox-shape);
}

blockquote {
  padding-left: 1rem;
  font-style: oblique;
  border-left: 3px solid rgba(0,0,0,0.2);
}

code {
  padding: 1px;
  border-bottom:1px dashed rgba(0,0,0,0.5);
  font-family: monospace;
}

pre code {
  display: block;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  background:rgba(0,0,0,0.1);
  font-family: monospace;
}

@media (max-width: 320px) {
  :root {
    --size: 3;
  }
  .logo {
    font-size: 1.0rem;
  }
  .menu {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  header .content {
    flex-direction: column;
    justify-content: center;
  }
  .menu {
    margin-bottom: 1rem;
  }
}
